.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  min-height: 120px;
  padding: 40px 0 0 0;
}

@media screen and (max-width: 992px) {
  .profile {
    justify-content: center;
    gap: 26px;
    padding: 42px 0 0 0;
  }
}