.profile__edit {
  display: flex;
  gap: 18px;
  align-items: flex-end;
  margin: 0 0 16px 0;
}

@media screen and (max-width: 992px) {
  .profile__edit {
    margin: 0 0 14px 0;
  }
}

@media screen and (max-width: 320px) {
  .profile__edit {
    position: relative;
  }
}